.app-title {
  text-align: center;
  color: chocolate;
  text-decoration: underline;
}

.accordion-item {
  color: beige;
  background-color: black;
  width: 25%;
  margin: 0 auto;
  border: 10px solid chocolate;
  border-radius: 4px;
  margin-bottom: 5px;
  text-align: center;
}

.accordion-title {
  position: relative;
  font-weight: bold;
  margin-bottom: 3px;
  border-bottom: 3px solid chocolate;
  cursor: pointer;
}

.accordion-button {
  position: absolute;
  right: 10px;
  top: 2px
}

.accordion-user {
  border-bottom: 1px chocolate dotted;
  padding: 10px;
  text-align: start;
}